<!DOCTYPE html>
<html>
   <body>
      <h1>Using Autobahn.ws Push with Flask</h1>
      <p>
         This example demonstrates how to push data submitted via a HTML form
         to WebSocket clients in real-time from a classical web application
         based on the <a href="http://flask.pocoo.org/">Flask</a> web framework.
      </p>
      <ul>
         <li><a href="client" target="_blank">Open WebSocket Client</a></li>
         <li><a href="form1" target="_blank">Open HTML Form</a></li>
      </ul>
   </body>
</html>
